


h1 {
    color: red;
    font-weight:500;
    }

.h-coral-bold {
      color: lightcoral;
      font-weight: 600;
}

#font30-color-green {
     font-size: 30px;
     color: green;
}

li {
     color: red;
}

.list-black li {
     color: black;
}

.list-black li:hover {
     color: #1abc9c;
}

.conteiner {
    background-color: #f0f0fo;
}

.box {
  width: 200px;
  padding: 10px;
  border: 2px solid #333;
  margin: 20px;
  background-color: #f1c40f;
  display: flex

}
.box:hover{
    background-color: #e74c3c;
}

.inner-box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
}

.second-inner-box {
    width: 100px;
    height: 100px;
    background-color: red;
}



.text-box {
     width: 400px:
     height: 400px;
     background-color: #3498db
     text-align:center;

}

#.text {
   #position: relative;
   #top: 50px;
   #right: 50px;
}
.demo-flex {
     display:flex;
     gap:10px;
 }

.responsive {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
}

.demo-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}
.grid-responsive { grid-template-columns:1fr 1fr; }

.background-color-grey {
    background-color: #cacaca;
}
.text-align {
    text-align:center; }

.text-valign {
    display:flex;
    align-items:center;
    height:100px; }

.text-hvcenter {
     display:flex;
      align-items:center;
       justify-content:center;
        height:100px; }

.text-indent {
     text-indent:30px; }

.line-height {
    line-height:2; }